body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
}

/* Navbar */
.navbar {
  background-color: #1F1F1F;
  height: 60px;
  color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.3s;
}

.navbar-link {
  margin-right: 15px;
  transition: color 0.3s, text-decoration 0.3s;
}

.navbar-link:hover {
  color: #E50914;
  text-decoration: underline;
}

.logo {
  font-size: 30px;
  color: #E50914;
  padding-left: 30px;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
  transition: font-weight 0.3s;
}

.menu-list-item:hover, .menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
}

.toggle {
  width: 40px;
  background-color: #FFFFFF;
  position: relative;
  height: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.toggle-icon {
  color: #FFD700;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: #000000;
  border-radius: 50px;
  position: absolute;
  right: 1px;
  transition: transform 0.3s;
}

body.active .toggle-ball {
  transform: translateX(-20px);
  background-color: #FFFFFF;
}

/* Sidebar */
.sidebar {
  background-color: #1F1F1F;
  color: #FFFFFF;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
}

.sidebar i {
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar i:hover {
  color: #E50914;
}

/* Content */
.container-movie {
  padding: 20px;
  margin: auto;
  background-color: #1F1F1F;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  max-width: 1200px;
  text-align: center;
}

.container-movie h1 {
  color: #E50914;
  margin-bottom: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-item {
  width: 200px;
  margin: 20px;
  position: relative;
  transition: transform 0.3s;
}

.movie-item:hover {
  transform: scale(1.05);
}

.movie-item-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: opacity 0.3s;
}

.movie-item:hover .movie-item-img {
  opacity: 0.7;
}

.movie-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.movie-item:hover .movie-info {
  opacity: 1;
}

.movie-item-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.movie-item-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.movie-item-buttons i {
  cursor: pointer;
  font-size: 20px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.movie-item-buttons i:hover {
  opacity: 1;
}

/* Responsive styles */
@media (max-width: 800px) {
  .container-movie {
      padding: 10px;
  }

  .movie-item {
      width: 150px;
  }

  .movie-item-title {
      font-size: 14px;
  }

  .movie-item-buttons i {
      font-size: 18px;
  }
}

/* Dark mode styles */
body.active {
  background-color: #FFFFFF;
  color: #000000;
}

.navbar.active, .sidebar.active {
  background-color: #FFFFFF;
  color: #000000;
}

.category-title.active, .db-movie-details.active, .sidebar i.active, .movie-list-title.active {
  color: #000000;
}

.movie-list-filter select.active {
  background-color: #FFFFFF;
  color: #000000;
}

/* Eklenen dark mode kuralları */
.menu-list-item, .menu-list-item a {
  color: white;
}

.menu-list-item.active, .menu-list-item.active a {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.db-movie-info.active {
  background-color: #FFFFFF;
  color: #000000;
}

.db-movie-info a.active {
  color: #000000;
}

.db-movie-info strong.active {
  color: #000000;
}

.movie-item-title.active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
}

.movie-item-buttons i.active {
  color: #000000;
}

.navbar-link.active {
  color: black;
}

.container-movie.active {
  padding: 20px;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  max-width: 1200px;
  text-align: center;
}

/* Alt kısım için beyaz arka plan rengi ekleyin */
.container-movie-footer {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
